<header>
  <h1>Material Icon色変換</h1>
  <p>
    アイコン名はこちらから<a href="https://material.io/resources/icons/?icon=description&style=baseline">Material Icons</a>
  </p>
</header>

<div id="form" >
  <input type="text" name="name" [(ngModel)]="name" placeholder="Icon Name" list="iconNames">
  <datalist id="iconNames">
    <ng-container *ngFor="let iconName of iconNames">
      <!--    optionの中ではmat-iconが表示されなかった-->
      <option value="{{iconName}}">
    </ng-container>
  </datalist>
  <input type="color" name="color" [(ngModel)]="color">
  <hr>
  <label>
    背景色
    <input type="color" [(ngModel)]="bgColor">
  </label>
</div>

<div id="icon-view" [ngStyle]="{backgroundColor: bgColor}">
  <mat-icon [ngStyle]="{color: color}">{{name}}</mat-icon>
</div>
